@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

input[type="radio"]:checked ~ .border-label {
    @apply border-blue-600;
}

input[type="radio"]:checked ~ .border-label-size , 
input[type="radio"]:checked ~ .border-label-color{
  @apply text-white border-0 bg-primaryBg;
}

input[type="checkbox"]:checked ~ .label-size {
    @apply border-blue-600;
}

.active {
    @apply text-white bg-primaryBg;
}

/* Stepper */
.multi-steps > li.is-active ~ li:before,
.multi-steps > li.is-active:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
}
.multi-steps > li.is-active ~ li:after,
.multi-steps > li.is-active:after {
    background-color: #ededed;
}
.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.multi-steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #23a6f0;
}
.multi-steps > li:before {
    content: "";
    content: "✓;";
    content: "𐀃";
    content: "𐀄";
    content: "✓";
    display: block;
    margin: 0 auto 4px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #23a6f0;
    border-radius: 50%;
}
.multi-steps > li:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #23a6f0;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;
}
.multi-steps > li:last-child:after {
    display: none;
}
.multi-steps > li.is-active:before {
    background-color: #fff;
    border-color: #23a6f0;
}
.multi-steps > li.is-active ~ li {
    color: #808080;
}
.multi-steps > li.is-active ~ li:before {
    background-color: #ededed;
    border-color: #ededed;
}

/* Scrollbar Notification */

.scrollbar-menu::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.scrollbar-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.scrollbar-menu::-webkit-scrollbar-thumb {
    @apply bg-primaryBg;
    border-radius: 10px;
}


/* Tag input */
/* 
::selection{
    color: #fff;
    background: #5372F0;
  }
.content ul{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
  }
  .content ul  li{
    color: #333;
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background: #F2F2F2;
    padding: 5px 8px 5px 10px;
    border: 1px solid #e3e1e1;
  }
  .content ul li i{
    height: 20px;
    width: 20px;
    color: #808080;
    margin-left: 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
  }
  .content ul input{
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
  }   */