@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

input[type="radio"]:checked ~ .border-label {
    @apply border-blue-600;
}
input[type="checkbox"]:checked ~ .label-size {
    @apply border-blue-600;
}

.active {
    @apply text-white bg-primaryBg;
}

/* Stepper */
.multi-steps > li.is-active ~ li:before,
.multi-steps > li.is-active:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
}
.multi-steps > li.is-active ~ li:after,
.multi-steps > li.is-active:after {
    background-color: #ededed;
}
.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.multi-steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #23a6f0;
}
.multi-steps > li:before {
    content: "";
    content: "✓;";
    content: "𐀃";
    content: "𐀄";
    content: "✓";
    display: block;
    margin: 0 auto 4px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #23a6f0;
    border-radius: 50%;
}
.multi-steps > li:after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #23a6f0;
    position: absolute;
    top: 16px;
    left: 50%;
    z-index: -1;
}
.multi-steps > li:last-child:after {
    display: none;
}
.multi-steps > li.is-active:before {
    background-color: #fff;
    border-color: #23a6f0;
}
.multi-steps > li.is-active ~ li {
    color: #808080;
}
.multi-steps > li.is-active ~ li:before {
    background-color: #ededed;
    border-color: #ededed;
}

/* Scrollbar Notification */

.notification-menu::-webkit-scrollbar {
    width: 4px;
}

.notification-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.notification-menu::-webkit-scrollbar-thumb {
    @apply bg-blue-500;
    border-radius: 10px;
}
